# Claude
.claude

# macOS system files
.DS_Store

/target
/data
/docs/temp/*
/docs/internal/*
/icons/*

# Binaries
docs/assets/binaries/*

# Temporary build artifacts
FerrisPad.app/
FerrisPad.iconset/

# Preview temp files
.ferrispad-preview.html
.ferrispad-test.html

# Sh excluded files
scripts/trigger_build_gh_worflow.sh