# Claude
.claude

# macOS system files
.DS_Store

/target
/data
/docs/temp/*
/docs/internal/*
/icons/*

# Test artifacts
test_2gb.log
test_1_8gb.log
gen_log.exe
gen_log.pdb
scripts/generate_log.py
scripts/generate_log.rs

# Binaries
docs/assets/binaries/*

# Temporary build artifacts
FerrisPad.app/
FerrisPad.iconset/

# Sh excluded files
scripts/trigger_build_gh_worflow.sh
CLAUDE.md
.mcp.json
